nav, footer, video {
  display: none;
}

a:after {
  content:"  (" attr(href)")";
  font-size: 80%;
}

.container, article {
  width: 100%;
}

.print-only {
  display: initial;
}

@media (max-width 450px){
  .container {
    margin: 0px;
  }
}